{% extends "base.html" %}

{% block content %}
    
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto mt-5">
        <form method="post" action="{% url 'criar_agenda' %}">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" id="titulo" name="titulo" required>
            </div>
            
            <div class="form-group mt-3">
                <label for="descricao">Descrição</label>
                <textarea class="form-control mt-1" id="descricao" name="descricao" required></textarea>
            </div>
            
            <div class="form-group mt-3">
                <label for="dataInicio">Data de Início</label>
                <input type="datetime-local" class="form-control mt-1" id="dataInicio" name="dataInicio" required>
            </div>
            
            <div class="form-group mt-3">
                <label for="dataFim">Data de Fim</label>
                <input type="datetime-local" class="form-control mt-1" id="dataFim" name="dataFim" required>
            </div>
            
            <div class="form-group mt-3">
                <label for="local">Local</label>
                <input type="text" class="form-control mt-1" id="local" name="local" required>
            </div>
            
            <div class="form-group mt-3">
                <label for="estado_atual">Estado Atual</label>
                <select class="form-control mt-1" id="estado_atual" name="estado_atual">
                    <option value="RECEBIDO">Recebido</option>
                    <option value="CONFIRMADO">Confirmado</option>
                    <option value="ATENDIDO">Atendido</option>
                    <option value="CANCELADO">Cancelado</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary mt-3">Criar Agenda</button>

        </form>
    </div>
    
{% endblock %}

{% block scripts %} {% endblock %}
