{% extends "base.html" %}

{% block content %}
    
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto mt-5">
        <h2 class="text-center mb-4">Editar Agenda</h2>
        <form id="agenda-form" method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" id="titulo" name="titulo" value="{{ agenda.titulo }}" required>
            </div>
            
            <div class="form-group mt-3">
                <label for="descricao">Descrição</label>
                <textarea class="form-control mt-1" id="descricao" name="descricao" required>{{ agenda.descricao }}</textarea>
            </div>
            
            <div class="form-group mt-3">
                <label for="dataInicio">Data de Início</label>
                <input type="datetime-local" class="form-control mt-1" id="dataInicio" name="dataInicio" value="{{ agenda.dataInicio|date:'Y-m-d\TH:i' }}" required>
            </div>
            
            <div class="form-group mt-3">
                <label for="dataFim">Data de Fim</label>
                <input type="datetime-local" class="form-control mt-1" id="dataFim" name="dataFim" value="{{ agenda.dataFim|date:'Y-m-d\TH:i' }}" required>
            </div>
            
            <div class="form-group mt-3">
                <label for="local">Local</label>
                <input type="text" class="form-control mt-1" id="local" name="local" value="{{ agenda.local }}" required>
            </div>
            
            <div class="form-group mt-3">
                <label for="estadoAtualAgenda">Estado Atual</label>
                <select class="form-control mt-1" id="estadoAtualAgenda" name="estadoAtualAgenda">
                    <option value="PENDENTE" {% if agenda.estadoAtualAgenda == "PENDENTE" %}selected{% endif %}>Pendente</option>
                    <option value="CONFIRMADA" {% if agenda.estadoAtualAgenda == "CONFIRMADA" %}selected{% endif %}>Confirmada</option>
                    <option value="CANCELADA" {% if agenda.estadoAtualAgenda == "CANCELADA" %}selected{% endif %}>Cancelada</option>
                    <option value="CONCLUIDA" {% if agenda.estadoAtualAgenda == "CONCLUIDA" %}selected{% endif %}>Concluída</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary mt-3">Salvar</button>

        </form>
    </div>
    
{% endblock %}

{% block scripts %} {% endblock %}
