{% extends "base.html" %}

{% block content %}
    
    <div class="container-fluid vh-100 d-flex justify-content-center bg-dark">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 p-1 rounded bg-dark">
            <h4 class="text-center text-white mb-4">Gestão de Agendas</h4>
            <form method="post">
                {% csrf_token %}
                
                <div class="input-group mb-4">
                    <input type="text" class="form-control text-white w-100" id="titulo" name="titulo" placeholder="Título" value="{{ agenda.titulo }}" required style="background-color: #2c2f33; border: none;">
                </div>
                
                <div class="input-group mb-4">
                    <textarea class="form-control text-white w-100" id="descricao" name="descricao" placeholder="Descrição" required rows="5" style="background-color: #2c2f33; border: none;">{{ agenda.descricao }}</textarea>
                </div>
                
                <div class="input-group mb-4">
                    <input type="datetime-local" class="form-control text-white w-100" id="dataInicio" name="dataInicio" placeholder="Data de Início" value="{{ agenda.dataInicio|default:'' }}" required step="900" style="background-color: #2c2f33; border: none;">
                </div>
                
                <div class="input-group mb-4">
                    <input type="datetime-local" class="form-control text-white w-100" id="dataFim" name="dataFim" placeholder="Data de Fim" value="{{ agenda.dataFim|default:'' }}" required step="900" style="background-color: #2c2f33; border: none;">
                </div>
                
                <div class="input-group mb-4">
                    <input type="text" class="form-control text-white w-100" id="local" name="local" placeholder="Local" value="{{ agenda.local }}" required style="background-color: #2c2f33; border: none;">
                </div>
                
                <div class="input-group mb-4">
                    <select class="form-control text-white w-100" id="estado_atual" name="estado_atual" style="background-color: #2c2f33; border: none;">
                        <option value="" disabled selected>Estado Atual</option>
                        <option value="RECEBIDO" {% if agenda and agenda.estado_atual == "RECEBIDO" %}selected{% endif %}>Recebido</option>
                        <option value="CONFIRMADO" {% if agenda and agenda.estado_atual == "CONFIRMADO" %}selected{% endif %}>Confirmado</option>
                        <option value="ATENDIDO" {% if agenda and agenda.estado_atual == "ATENDIDO" %}selected{% endif %}>Atendido</option>
                        <option value="CANCELADO" {% if agenda and agenda.estado_atual == "CANCELADO" %}selected{% endif %}>Cancelado</option>
                    </select>
                </div>
                
                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-primary">{% if agenda %}Salvar{% else %}Criar{% endif %}</button>
                    {% if agenda %}
                        <button type="button" class="btn btn-danger ms-2" onclick="removerAgenda({{ agenda.id }})">Remover</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}


{% block styles %}
    <style>
        #titulo::placeholder,
        #descricao::placeholder,
        #local::placeholder {
            color: #bbb !important;
            opacity: 1;
        }
    </style>

{% endblock %}


{% block scripts %}
<script>
    function removerAgenda(id) {
        if (confirm("Tem certeza que deseja remover esta agenda?")) {
            fetch(`/webagenda/deletar/${id}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = "{% url 'listar_agendas' %}";
                } else {
                    alert("Falha ao remover a agenda.");
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert("Falha ao remover a agenda.");
            });
        }
    }
</script>
{% endblock %}
